#header {

    /* header is always on top */
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    z-index: 100;

    /* items in header are next to each other (if they fit) */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*column-gap: 2rem; does not work in safari */

    /* items in header should be centered horizontally and vertically */
    justify-content: center;
    overflow: hidden;

    /* defines the height of the header */
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.2rem;
}


/* safari workaround */
#header > * + *
{
    margin-left: 2rem;
}


/* fake element so internal link goes to right part of page */
.anchor {
    display: block;
    height: 7.5rem; /*same height as header (looked it up)*/
    margin-top: -7.5rem; /*same height as header (looked it up)*/
    visibility: hidden;
}

/* normal view at least 670 pixels wide -> two cells fit */
/*mobile view: only one cell fits, everything should be centered */
@media screen and (max-width: 670px) {
    /* text should be centered in mobile view */
    #about-container {
        text-align: center;
    }

    /* header text should be smaller so it fits next to each other */
    #header h2 {
        font-size: 1rem;
    }

    #header {
        column-gap: 1rem;

    }

    /* because header text is smaller, also header size is smaller -> different anchor */
    .anchor {
        height: 6.5rem; /*same height as header (looked it up)*/
        margin-top: -6.5rem; /*same height as header (looked it up)*/
    }
}
