header {

    /* header is always on top */
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    z-index: 100;

    /* items in header are next to each other (if they fit) */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

    /* items in header should be centered horizontally and vertically */
    justify-content: center;
    overflow: hidden;

    /* defines the height of the header */
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.2rem;

    /* wrapping text breaks the image below */
    white-space: nowrap;
}


/* fake element so internal link goes to right part of page */
.anchor {
    display: block;
    height: 7.5rem; /*same height as header (looked it up)*/
    margin-top: -7.5rem; /*same height as header (looked it up)*/
    visibility: hidden;
}

@media screen and (max-width: 666px) {
    /* header text should be smaller so it fits next to each other */
    header h2 {
        font-size: 1rem;
    }

    /* because header text is smaller, also header size is smaller -> different anchor */
    .anchor {
        height: 6.5rem; /*same height as header (looked it up)*/
        margin-top: -6.5rem; /*same height as header (looked it up)*/
    }
}


