main {
    /* center the page */
    margin: 8rem auto 3rem auto;

    /* two cells fit exactly next to each other */
    max-width: 666px;

    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

/* overwriting defaults because using flex-gap instead */
h3, ul {
    margin: 0;
}

h1 {
    margin: 1rem;
}

/* page is separated into several sections with some gap between content in each section */
section {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    align-items: center;
    align-content: center;
    text-align: center;
}

#about-container {
    display: flex;
    flex-direction: row;
    align-items: center; /* text should be vertically centered relative to img */
    column-gap: 1rem;

    flex-wrap: wrap;
    justify-content: center; /* to center img in mobile layout */
}

#about-container > img {
    height: 160px;
}


#about-container-right {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (min-width: 666px) {
    #about-container-right {
        text-align: left;
    }
}

.cell-container {
    display: flex;
    flex-direction: row;
    gap: 20px;

    flex-wrap: wrap;
    justify-content: center; /* horizontally center when wrapped */
}

.cell{
    width: 300px;
    min-height: 300px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.empty-cell { /* used as placeholder for alignment */
    width: 300px;
    height: 0;
    padding: 20px;
}

.cell .screenshot {  /* cell - preview screenshot */
    height: 200px;
    display: flex;
    align-items: center; /* important to overwrite stretch, otherwise image loses aspect ratio */
    align-content: center;
    justify-content: center;
}

.cell > .screenshot > img {
    max-width: 100%;
    max-height: 95%;
}

.cell .title, .cell .subtitle {  /* cell text */
    padding-left: 3px;
    width: 100%; /* needed so text alignment works */
    text-align: left;
}
