body {
    font-family: helvetica, arial, sans-serif;
    color: #222;
}

a {
    color: #222;
}

ul {
    list-style-type: circle;
}


.cell, .service {
    border: #555 dotted 1px;
    border-radius: 5px;
}

.cell .screenshot {
    border: #efefef solid 0;
    border-radius: 5px;
}

.cell .title {
    font-weight: bold;
}

.cell .subtitle {
    /*font-style: italic;*/
}

/*don't underline links in subtitle*/
.cell .subtitle {
    text-decoration: none;
}


hr {
    width: 100%;
    border-top: 1px solid #555;
    border-bottom: none;
}
